<mat-toolbar color='primary'>

  <mat-toolbar-row>

    <span>Message Board</span>
    <span class="example-spacer"></span>

    <div *ngIf="!isLoggedIn()">
      <button mat-button (click)="openLoginDialog()">
        <mat-icon>person
        </mat-icon>
      </button>
    </div>

    <div *ngIf="isLoggedIn()">
      <button mat-button (click)="openLoginDialog()">
        Logout
      </button>
    </div>

  </mat-toolbar-row>

</mat-toolbar>


<div class='main-content'>

  <form class="content-form" (submit)="tweet(message.value); message.value='';">

    <mat-form-field id='post-form'>
      <input matInput #message maxlength="140" placeholder="Message">
      <mat-hint align="end">{{message.value.length}} / 140</mat-hint>
    </mat-form-field>

    <button id="post-button" type="submit" mat-raised-button>Post</button>

  </form>


  <div class='twitter-content'>
    <mat-card class="content-card" *ngFor="let post of posts">
      <mat-card-content>
        <p id="post-content">{{post.postContent }}</p>
        <p>{{post.postTime | date: 'medium'}}</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>


